<h2 class="sign_in_heading">Sign in</h2>

<form class="sign_in_form" action="/admin" method="post">
    <label for="username"><b>username</b></label>
    <input type="text" placeholder="Enter username" name="username">

    <label for="password"><b>password</b></label>
    <input type="password" placeholder="Enter password" name="password">

    <input class="sign_in_btn form-btn" type="submit" value="Login">
</form>

<!-- <h2 class="sign_in_heading">Register</h2>

<form class="Register_form" action="/register" method="post">
    <label for="username"><b>username</b></label>
    <input type="text" placeholder="Enter username" name="username">

    <label for="password"><b>password</b></label>
    <input type="password" placeholder="Enter password" name="password">

    <input class="Register_btn form-btn" type="submit" value="Register">
</form> -->