<header class="header">
    <a href="/" class="header_logo">Admin</a>
    <nav class="header_nav">
        <ul>
            <li class="nav_item">
                <a href="/" class="nav_link">Home</a>
            </li>
            <li class="nav_item">
                <a href="/about" class="nav_link">About us</a>
            </li>
            <li class="nav_item">
                <a href="/contact" class="nav_link">Contact us</a>
            </li>
        </ul>
    </nav>
    <div class="header_btn">
        <button class="logout_btn form-btn">
            Logout
        </button>
    </div>
</header>