<header class="header">
    <a href="/dashboard" class="header_logo">Admin</a>
    <nav class="header_nav">
        <ul>
            <li class="nav_item">
                <a href="/" class="nav_link">Home</a>
            </li>
            <li class="nav_item">
                <a href="/about" class="nav_link">About Me</a>
            </li>
            <li class="nav_item">
                <a href="/contact" class="nav_link">Contact </a>
            </li>
        </ul>
    </nav>
    <div class="header_btn">
        <a href="/logout" class="logout_btn form-btn">
            Logout
        </a>
    </div>
</header>