<h1 style="text-align: center;">About Me</h1>
<p class="about">As a fresher in web development, I interned as a frontend developer at Ideamagix, gaining hands-on experience with
    technologies such as React, Express, and MongoDB. With a strong foundation in web development, I am skilled in
    creating dynamic and user-friendly interfaces. Eager to contribute my expertise to exciting projects and further
    expand my knowledge in the field.
    <br>
    As a beginner in data analytics and machine learning, I possess strong skills in advanced Excel, pivot table
    visualization, and data analysis. Additionally, I have hands-on experience in machine learning techniques such as
    OpenCV, outlier detection, and have completed projects utilizing Flask for web application development. Eager to
    further explore the realms of data analytics and machine learning, I am excited to contribute my expertise and
    continue developing innovative solutions in this dynamic field.
</p>